* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    background-color: #dfe6e9;
}

.container {
    max-width: 1148px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 90px;
    color: #fff;
    background-color: #ef6194;
}

.header-logo {
    font-size: 48px;
}

.header-logo span {
    color: #2d3436;
    font-weight: bold;
    font-size: 38px;
}

.header-menu ul {
    list-style-type: none;
}

.header-menu ul li {
    display: inline-block;
    margin: 0 15px;
}

.header-menu ul li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 2px;
}

.header-btn button {
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 30px;
    border: 2px solid white;
    border-radius: 6px;
    background-color: transparent;
}

.header-btn button:hover {
    background-color: rgba(255, 255, 255, .3)
}

.main-content {
    padding: 50px 100px;
    background-color: white;
    line-height: 1.5;
    color: #444;
}

.main-content h2 {
    margin-bottom: 30px;
}

.main-content p{
    margin-bottom: 30px;
}

.main-content .fbx-img {
    margin: 40px 0;
}

.main-content .fbx-img img {
    width: 100%;
}

@media screen and (max-width: 1148px) {
    body {
        padding: 0 5%;
    }
    header {
        padding: 40px 60px;
    }
    .main-content {
        padding: 60px 60px;
    }
}

@media screen and (max-width: 1000px) {
    header {
        flex-direction: column;
    }
    header > div {
        margin: 12px 0;
    }
    .header-menu ul li {
        margin: 0 15px 0 0;
    }
}

@media screen and (max-width: 600px) {
    body {
        padding: 0 10px;
    }
    header {
        padding: 30px;
    }
    .header-logo {
        margin-top: 0;
    }
    .header-menu {
        white-space : nowrap;
    }
    .main-content {
        padding: 30px;
    }
}

p {
    text-align: justify;
}