* {
    padding: 0;
    margin: 0;
}

.container{
    background-color: purple;
    padding: 30px;
    display: flex;
}

.nowrap {
    flex-wrap: nowrap;
}

.wrap {
    flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

.item{
    border: 5px solid black;
    background-color: yellow;
    font-size: 40px;
    padding: 30px;
    margin: 30px;

}