* {
    padding: 0;
    margin: 0;
}

.container{
    background-color: purple;
    padding: 30px;
    /* display: flex;
    height: 100vh; */
}

.item{
    border: 5px solid black;
    background-color: yellow;
    font-size: 40px;
    padding: 30px;
    margin: 30px;
    /* display: inline-block; */
    /* display: inline; */
    /* display: block; */
    /*float: left;*/
}