* {
    padding: 0;
    margin: 0;
}

.container{
    background-color: purple;
    padding: 30px;
    display: flex;
    flex-flow: row;
}

.item{
    border: 5px solid black;
    background-color: yellow;
    font-size: 40px;
    padding: 30px;
    margin: 30px;
}