* {
    padding: 0;
    margin: 0;
}

.container{
    background-color: purple;
    padding: 10px;
    height: 600px;
    display: flex;
    flex-flow: row wrap;
    align-items: center

}

.item{
    border: 5px solid black;
    background-color: yellow;
    font-size: 40px;
    padding: 20px;
    margin: 20px;
}

.item1{

}

.item2{
    align-self: baseline;
}

.item3{

}

.item4{

}