* {
    padding: 0;
    margin: 0;
}

.container{
    background-color: purple;
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center

}

.item{
    border: 5px solid black;
    background-color: yellow;
    font-size: 40px;
    padding: 20px;
    margin: 20px;
    width: 120px;
}

.item1{
    flex-shrink: 1;
}

.item2{
    flex-shrink: 1;
}

.item3{
    flex-shrink: 1;
}

.item4{
    flex-shrink: 1;
}