* {
    padding: 0;
    margin: 0;
}

.container{
    background-color: purple;
    padding: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.item{
    border: 5px solid black;
    background-color: yellow;
    font-size: 40px;
    padding: 30px;
    margin: 0px;
}