* {
    padding: 0;
    margin: 0;
}

.container{
    background-color: purple;
    padding: 30px;
    margin-bottom: 15px;
}

.flex{
    display: flex;
}

.inline-flex{
    display: inline-flex;
}

.item{
    border: 5px solid black;
    background-color: yellow;
    font-size: 40px;
    padding: 20px;
    margin: 20px;
}