* {
    padding: 0;
    margin: 0;
}

.container{
    background-color: purple;
    padding: 0px;
    display: flex;
    height: 800px;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: stretch;
}

.item{
    border: 5px solid black;
    background-color: yellow;
    font-size: 40px;
    padding: 20px;
    margin: 25px;
}