* {
    padding: 0;
    margin: 0;
}

.container{
    background-color: purple;
    padding: 15px;
    display: flex;
    margin-bottom: 20px;
}

.row{
    flex-direction: row;
}

.column{
    flex-direction: column;
}

.row-reverse{
    flex-direction: row-reverse;
}

.column-reverse{
    flex-direction: column-reverse;
}

.item{
    border: 5px solid black;
    background-color: yellow;
    font-size: 40px;
    padding: 30px;
    margin: 30px;
}