* {
    padding: 0;
    margin: 0;
}

.container{
    background-color: purple;
    padding: 30px;
    display: flex;
    height: 800px;
    flex-flow: row wrap;
    align-content: space-around;
}

.item{
    border: 5px solid black;
    background-color: yellow;
    font-size: 30px;
    padding: 30px;
    margin: 30px;
}